.page-cart {
    background: url('../images/global/bg-product.png') center top no-repeat;
    background-size: cover;
    width: 100%;
    height: 345px;

    .row {
        background-color: #fff;
    }
    .heading__wrapper {
        margin-bottom: 40px;
    }
    /* Cart */
    .cart {
        margin-top: 80px;
    }
}
