.page-home {
	.masthead__banner {
		figcaption {
			&:before {
				content: '';
				background: url( '../images/global/figcaption-leaf.png' ) center center no-repeat;
				background-size: 100% 100%;
				width: 100%;
				height: 57px;
				max-width: 60px;
				margin-left: -30px;
				@include ab( -60px, 50%, n, n );
				@include screen(medium) {
					max-width: 106px;
					@include ab( -5%, -8%, n, n );
				}
			}
		}
	}
	.products {
		margin-top: 30px;
		@include screen ( medium ) {
			margin-top: 0;
		}
	}
}

/* Support */
.support {
	@include screen(medium) {
		top: -25px;
		position: relative;
	}

	.row {
		background-color: #fff;
		@include screen(medium) {
			padding: 6px;
		}
	}
	.title {
		font-size: 16px;
		color: #6a6060;
		display: block;
		line-height: normal;
	}
}
.support__order-now {
	background-color: #86bc42;
	&:hover {
		background-color: lighten( #86bc42, 10% );
	}

	a {
		display: block;
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		line-height: normal;
		text-transform: uppercase;
		padding: 10px 0;
		@include screen(small) {
			font-size: 20px;
			padding: 25px 5px;
		}
		@include screen(medium) {
			font-size: 23px;
			padding: 45px 5px;
		}
	}
}
.support__call {
	display: table;
	position: relative;
	text-align: center;
	border-bottom: 1px solid #d2cfcf;
	@include screen(medium) {
		text-align: left;
		border: 0;
		&:before {
			content: '';
			width: 1px;
			height: 70%;
			background-color: #d2cfcf;
			margin-top: -15%;
			@include ab( 50%, n, n, 0 );
		}
	}

	.inner {
		height: 100%;
		display: table-cell;
		vertical-align: middle;
		padding: 10px 0;
		@include screen(small) {
			padding: 15px 0;
		}
		@include screen (medium) {
			padding: 0;
		}
	}
	a {
		color: #6a6060;
		font-size: 18px;
		font-weight: bold;
		position: relative;
		line-height: normal;
		margin-top: 10px;
		display: inline-block;
		@include screen (small) {
			margin-top: 0;
			font-size: 30px;
		}
		&:before {
			content: '\f095';
			font-family: 'FontAwesome';
			width: 30px;
			height: 30px;
			line-height: 30px;
			background-color: #6a6060;
			color: #fff;
			font-size: 20px;
			text-align: center;
			margin-top: -15px;
			@include ab( 50%, -35px, n, n );
			@include border-radius( 50%, 50%, 50%, 50% );
		}
	}
}
.support__chat {
	display: table;
	text-align: center;
	border-bottom: 1px solid #d2cfcf;
	@include screen(medium) {
		text-align: left;
		border: 0;
	}

	.inner {
		height: 100%;
		display: table-cell;
		vertical-align: middle;
		padding: 10px 0;
		@include screen(small) {
			padding: 15px 0;
		}
		@include screen (medium) {
			padding: 0;
		}
	}
	a {
		color: #6a6060;
		font-size: 18px;
		position: relative;
		line-height: normal;
		margin-top: 10px;
		display: inline-block;
		@include screen (small) {
			margin-top: 0;
			font-size: 26px;
		}
		&:before {
			content: '\f17e';
			font-family: 'FontAwesome';
			width: 30px;
			height: 30px;
			line-height: 30px;
			background-color: #6a6060;
			color: #fff;
			font-size: 20px;
			text-align: center;
			margin-top: -15px;
			@include ab( 50%, -35px, n, n );
			@include border-radius( 50%, 50%, 50%, 50% );
		}
	}
}

/* Intro Green & Blue Company */
.introGB {
	margin-top: 30px;

	figure {
		text-align: center;
		position: relative;

		img {
			max-width: 980px;
			margin: 0 auto;
		}
		.heading {
			margin-bottom: 30px;
			font-weight: bold;
			text-shadow: 0px 1px 16px rgba(58, 65, 7, 1);

			br {
				display: block;
				@include screen(small) {
					display: none;
				}
			}
		}
		.description {
			color: #fff;
			font-size: 18px;
			line-height: normal;
			margin: 0;
			text-shadow: 0px 1px 16px rgba(58, 65, 7, 1);
		}
	}
	.heading__wrapper {
		margin: 30px 0 0;
	}
	.quote-text {
		color: #6a6060;
		font-size: 14px;
		line-height: normal;
		text-align: justify;
		margin: 0;
		padding: 35px 25px;
		background: url('../images/icons/icon-quote-text-left.png') no-repeat, url('../images/icons/icon-quote-text-right.png') no-repeat;
		background-position: left top, right bottom;
		@include screen ( medium ) {
			padding: 35px 45px;
		}

		a {
			display: block;
			float: right;
			color: #9eca00;
			font-size: 12px;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

/* Recommendation */
.recommendation {
	background: url('../images/home/bg-recommendation-mobile.jpg') center center no-repeat;
	background-size: cover;
	width: 100%;
	/* max-width: 1640px;
	margin: 0 auto; */
	height: 490px;
	margin-top: 30px;
	display: table;
	padding: 30px 0;
	@include screen(medium) {
		background: url('../images/home/bg-recommendation.jpg') center center no-repeat;
		background-size: cover;
		width: 100%;
		height: 356px;
		padding: 0;
	}

	.inner {
		height: 100%;
		display: table-cell;
		vertical-align: middle;

		.columns {
			&:last-child {
				margin-top: 15px;
				@include screen(medium) {
					margin-top: 0;
				}
			}
		}
	}
	.heading__wrapper {
		margin-bottom: 30px;
	}
}
.recommendation__img {
	width: 30%;
	float: left;
	text-align: center;

	img {
		width: 100%;
		margin: 0 auto;
		max-width: 106px;
	}
}
.recommendation__info {
	width: 70%;
	float: left;
	padding-left: 10px;
	@include screen(small) {
		padding-left: 20px;
	}
}
.recommendation__name {
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	line-height: normal;
}
.recommendation__description {
	color: #fff;
	font-size: 14px;
	line-height: normal;
	margin: 10px 0 0;
	@include screen(small) {
		margin: 20px 0 0;
	}
}

/* Order Now */
.order-now {
	background: #fff url('../images/home/bg-order-now-mobile.jpg') center bottom no-repeat;
	padding: 30px 0 400px;
	@include screen ( medium ) {
		background: url('../images/home/bg-order-now.jpg') center top no-repeat;
		background-size: cover;
		width: 100%;
		/* max-width: 1640px;
		margin: 0 auto; */
		height: 369px;
		display: table;
		padding: 0;
	}

	.inner {
		text-align: center;
		@include screen ( medium ) {
			height: 100%;
			display: table-cell;
			vertical-align: middle;
		}
	}
	.heading {
		margin-bottom: 30px;
	}
}

/* Form */
/* .form {} */
.form__field {
	margin-top: 15px;
	&:first-child {
		margin-top: 0;
	}
}
.form__label {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 7px;
}