.page-product {
    background: url('../images/global/bg-product.png') left top no-repeat;
    background-size: 100%;
    width: 100%;

    .row {
        background-color: #fff;
    }
    .products {
        &.type-details {
            .heading__wrapper {
                margin: 0;
            }
        }

        .heading__wrapper {
            margin: 20px 0;
            @include screen ( medium ) {
                margin: 80px 0 40px;
            }
        }
        .products__list {
            margin-bottom: 30px;
        }
    }
    .product__item--big {
        margin-top: 20px;
        @include screen ( medium ) {
            margin-top: 100px;
        }

        .product__img {
            text-align: center;
        }
        .product__info {
            padding: 15px 15px 0;
        }
        .product__img--big {
            background-color: #fff;
            @include box-shadow( 0, 0, 21px, rgba( 0, 0, 0, 0.09 ));
        }
        .product__img--list {
            margin: 20px -5px 0;
        }
        .product__img--item {
            float: left;
            width: 25%;
            padding: 0 5px;
            cursor: pointer;
            &.active, &:hover {
                .wrap-img {
                    border: 1px solid #9eca00;
                }
            }

            .wrap-img {
                width: 100%;
                border: 1px solid transparent;

                img {
                    width: 100%;
                }
            }
        }
    }
    .product__item:not(.product__item--big) {
        margin-top: 20px;
        &:first-child {
            margin-top: 0;
        }
        @include screen ( medium ) {
            margin-top: 0;
        }
    }
}
