<header>
	<h1 class="logo">
		<a href="" title="Xanh &amp; Xanh">
			<img src="" alt="Xanh &amp; Xanh" />Xanh &amp; Xanh
		</a>
	</h1>
	<nav class="main-nav">
		<ul>
			<li><a href="" title="Trang chủ">Trang chủ</a></li>
			<li><a href="" title="Giới thiệu">Giới thiệu</a></li>
			<li><a href="" title="Sản phẩm">Sản phẩm</a></li>
			<li><a href="" title="Đặt hàng">Đặt hàng</a></li>
			<li><a href="" title="Tin tức">Tin tức</a></li>
			<li><a href="" title="Về xanh &amp; xanh">Về xanh &amp; xanh</a></li>
		</ul>
	</nav>
</header>