/* Masthead */

.masthead {
    position: relative;
}

.masthead__banner {
    figcaption {
        .text {
            color: #fff;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            line-height: 1.2em;
            display: block;
            @include screen( medium ) {
                font-size: 26px;
            }
            @include screen( ipad ) {
                font-size: 41px;
            }
        }
        .text--big {
            font-size: 50px;
            @include screen( medium ) {
                font-size: 42px;
            }
            @include screen( ipad ) {
                font-size: 82px;
            }
        }
    }

    .slick-dots {
        width: 100%;
        font-size: 0;
        line-height: 0;
        text-align: center;
        @include ab( n, 0, 30px, n );
        @include screen(medium) {
            display: none!important;
        }

        li {
            display: inline-block;
            vertical-align: middle;
            padding: 0 5px;
            font-size: 0;
            line-height: 0;
            &.slick-active {
                button {
                    border-color: #86bc42;
                }
            }

            button {
                background: transparent;
                text-indent: -9999px;
                border: none;
                padding: 0;
                font-size: 0;
                border: 6px solid #fff;
                width: 0;
                height: 0;
                cursor: pointer;
                @include border-radius ( 50%, 50%, 50%, 50% );
            }
        }
    }
}

.masthead__arrow {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    @include ab( 0, 0, n, n );
    display: none;
    @include screen ( medium ) {
        display: block;
    }
    @include screen ( ipad ) {
        padding: 0;
    }
    .slick-arrow {
        top: 50%;
        margin-top: -30px;
        position: absolute;
        background: none;
        border: 0;
        color: #fff;
        text-align: center;
        cursor: pointer;
        width: 60px;
        height: 60px;
        border: 4px solid #fff;
        @include border-radius( 50%, 50%, 50%, 50%);
        &.slick-next {
            right: 0;
            .fa {
                top: 3px;
                right: -3px;
                position: relative;
            }
        }
        &.slick-prev {
            left: 0;
            .fa {
                top: 3px;
                left: -3px;
                position: relative;
            }
        }
    }
}


/* Figure */

figure {
    margin: 0;
    padding: 0;
    img {
        width: 100%;
    }
}


/* Figcaption */

figcaption {
    width: 100%;
    max-width: 640px;
    padding: 0 10px;
    @include ab( 50%, 50%, n, n);
    @include transform( translate( -50%, -50%) );
    @include screen ( medium ) {
        padding: 0;
    }
}
